/* reset */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* variables for easy reuse*/
:root{
  /* colors */
  --dark-blue: #051923;
  --medium-blue: #25354C;
  --light-blue: #004e7a;
  --hightlighted-text: goldenrod;
  --font-primary: #f8f9fa;
  --light-gold: hsl(43, 79%, 87%);
}

 /* html elements */
 img{
  display: block;
}
 a{
  color: var(--font-primary);
 }

 a:hover{
  cursor: pointer;
 }

 s{
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
  line-height: 0.5rem;
  color: var(--font-primary);
 }

 body{
  font-family:'Nunito','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-primary);
  min-width: 350px;
  align-items: center;
  background-color: var(--dark-blue);
 }

/* ids */
#logo-primary-text{
  font-size: 2.4rem;
  line-height: 0.9;
}

#logo-secondary-text{
  opacity: 0.8;
  font-size: 0.8rem;
  line-height: 0.9;
  padding-left: 1rem;
}

.nav{
  /* border: 1px solid red; */
  background: var(--dark-blue);
  height: 80px;
  width: 100%;
}

.nav__logo--sml-scr{
  /* border: 1px solid red; */
  display: inline-flex;
  flex-flow: column nowrap;
  padding: 1rem;
}

/* Main */
/* Header */
.header{
  width: 100%;
  position: fixed;
  top: 0;
  height: 80px;
}

.blank-space{
  /* border: 1px solid red; */
  background: white;
  height: 80px;
}

/* |navbar for small screen only| */
.nav__link--sml-scr{
  font-size: 16px;
}

.ckeckbtn{
  /* border: 1px solid red; */
  /* display: inline-block; */
  margin: 1rem 2rem 0 0;
  font-size: 2rem;
  float: right;
  cursor: pointer;
}

/* enable this to fixed the nav show/unshow icon */
/* .fa-bars{
  position: fixed;
} */

.nav__links--sml-scr{
  /* border: 1px solid purple; */
  border-top: 1px solid var(--medium-blue);
  position: fixed;
  width: 100%;
  background: var(--dark-blue);
  top: 80px;
  left: -100%;
  text-align: center;
  width: 100%;
  transition: all .5s;
}

.nav__link-item--sml-scr{
  /* border: 1px solid brown; */
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--medium-blue);
}

.nav__link--sml-scr{
  color: var(--font-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  font-size: 1.2rem;
  width: 100%;
  height: 2.4rem;
  vertical-align: middle;
}

.nav__link--sml-scr:hover, .nav__link--sml-scr:active{
  background: var(--medium-blue);
  font-weight: bold;
  color: #fff;
  transition: 0.2s;
}

#check{
  display: none;
}

#check:checked ~ ul{
  left: 0;
  top: 80px;
}

.nav__link--lrg-scr{
  display: none;
}

.checkbtn{
  float: right;
  font-size: 2rem;
  margin: 1rem 2rem 0 0;
}

/* Start for Home - Hero Section */
.hero{
  /* border: 1px dashed red; */
  display: grid;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.hero__main{
  /* border: 2px solid green; */
  /* border-top: 1px solid var(--font-primary); */
  font-family: 'Nunito', 'Roboto';
  /* background: var(--medium-blue); */
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 10%;
  border-top: 2px solid var(--medium-blue);
}

.hero__greeting{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  /* border: 3px solid rgb(42, 77, 117); */
}

.hero__greeting-text--small{
  font-size: 1.8rem;
  /* font-family: 'Great Vibes', cursive; */
  /* margin: 0 0 -0.7rem -2rem; */
  color: var(--hightlighted-text);
  font-weight: bold;
}

.hero__greeting-text--large{
  font-size:2.8rem;
  font-weight: bolder;
  line-height: 0.9;
}

.hero__sub-greeting{
  /* background: white; */
  font-size: 0.7rem;
  /* line-height: 0.9; */
  margin: 0 0 1.5rem 0;
  text-align: start;
  font-style: italic;
  color: var(--hightlighted-text);
}

.hero__content-main-text{
  font-size: 1rem;
  /* text-align: center; */
  margin: 0 0 1rem 0;
}

.btn--colored{
  background-image: linear-gradient(to top, var(--light-blue), var(--medium-blue));
  /* border: 1px solid var(--font-primary); */
  box-shadow: -1px 2px 8px 1px var(--dark-blue);
}

.btn-link{
  /* border: 1px solid green; */
  border: none;
  /* height: 2.2rem; */
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  font-family: 'Nunito', 'Roboto';
  /* color: var(--font-primary); */
  font-size: 0.9rem;     
  /* font-weight: bold; */
  text-align: center;
  border-radius: 0.5rem;
}

.hero__button-links{
  width:100%;
  /* background-color: yellow; */
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: start;
  gap: 1rem
}

.btn-link:hover, .btn-link:active, .form__button:hover, .form__button:active{
  font-weight: bold;
  color: var(--hightlighted-text);
  box-shadow: -1px 3px 5px -2px var(--hightlighted-text);
  transition: 0.3s;
}

.hero__image{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}
.hero__image-container{
  /* border: 1px solid red; */
  width: 100%;
  max-width: 600px;
}

.image--fit-for-sml-scr{
  width: 100%;
  height: auto;
}
/* End for Home - Hero Section */

/* Start for Project Section */
.section{
  /* border: 1px solid yellow; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 2px solid var(--medium-blue);
}

.section--dark{
  background-color: var(--dark-blue);
  padding: 1rem 1rem;
}

.section__header{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  margin: 0.5rem auto;
  font-size: 1.5rem;
  font-family: 'Roboto';
  color: var(--hightlighted-text);
}

.section__main-header{
  font-size: 1.5rem;
  font-weight: bold;
}

.section__sub-header{
  font-size: 1.2rem;
  color: var(--font-primary);
}

.cards__container{
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.card{
  /* border: 1px solid yellow; */
  display: grid;
  grid-template: 120px 180px 2.5rem/auto;
  width: 90%;
  max-width: 250px;
  align-items: flex-start;
  justify-content: center;
}

.card__image-cont{
  /* background: yellow; */
  height: 100px;
  width: 100%;
}

.card__image{
  /* filter: grayscale(100); */
  border-radius: 1rem 1rem 0 0;
  display: block;
}

.card__main{
  /* border: 1px solid yellow; */
  background: var(--medium-blue);
  width: 100%;
  height: 100%;  
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 0.5rem
}

.card__title{
  font-size: 1.2rem;
  font-family: 'Roboto';
  font-weight: bold;
  /* color: white; */
}

.card__description{
  font-size: 0.9rem;
}

.card__footer{
  /* border: 1px solid red; */
  background: var(--medium-blue);
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border-top: 1px solid var(--dark-blue);
  font-size: 1.5rem;
  font-weight: lighter;
}

.card__footer-item:hover, .card__footer-item:active{
  color: var(--hightlighted-text);
}

.even{
  background-color: var(--font-primary);
  color: var(--medium-blue);
}

.card__image:hover{
  filter:brightness(120%);
  transition: 0.5s;
}
/* End for Project Section */

/* Start for About Me Section */
.section__main{
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.section__header--xl{
  font-size: 2rem;
  font-weight: bold;
}
/* End for About Me Section */

/* Start of Tech Stack */
/* .section__main--tech-stack{
  border: 1px dashed yellow;
} */

.tech-stack__image-cont{
  width: 10px;
  height: 10px;
}

.tech-stack{
  /* border: 1px solid var(--medium-blue); */
  /* padding: 1rem; */
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.list-item{
  width: 100%;
}

.list-item--tech-stack{
  /* background: var(--light-blue); */
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.tech-stack__item{
  /* background: #004e7a; */
  display: flex;
  gap: 0;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
}

.tech-stack__items{
  /* background-color: pink; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 0.5rem 0 1rem 0;
  /* border-bottom: 5px double var(--medium-blue); */
}

.list-item-title{
  font-size: 1.1rem;
  /* font-weight: bold; */
  padding: 0 0.3rem;
  min-width: 100%;
  /* background: var(--medium-blue); */
  /* border-top: 3px dotted var(--medium-blue); */
  border-bottom: 3px dotted var(--medium-blue);
  /* text-align: left; */
  text-transform: uppercase;
}
/* Start for Tech Stack */

/* Start for Credentials */
.li__subtitle{
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin-bottom: 1rem;
}

.credential__link{
  margin-inline: 0.1rem;
}

.credential__link:hover{
  color: var(--hightlighted-text);
}

.fa-star{
  color: gold;
}
/* End for Credentials */

/* Start for Contact Me */
.section__main--contact-me{
  background: var(--medium-blue);
  border-radius: 1rem;
}

.form__header{
  /* border: 1px solid var(--font-primary); */
  width: 100%;
  /* background: var(--medium-blue); */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  /* border-radius: 1rem 1rem 0 0; */
  border-bottom: 1px solid var(--font-primary);
}

.form__header-img-cont{
  min-width: 120px;
  max-width: 150px;
  /* background: red; */
}

.form__header-img{
  max-width: 120px;
  object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.contact__details{
  display: grid;
  grid-template: auto/2rem auto;
  /* border: 1px solid red; */
  gap: 0.5rem;
}

.contact__detail{
  /* justify-self: left; */
  place-self: center left;
}

.contact__icon{
  place-self: center right;
  color: var(--hightlighted-text);
}

.contact__detail:hover{
  color: var(--hightlighted-text);
  cursor: pointer;
}

.form__body{
  width: 80%;
  /* border: 1px solid red; */
  margin-top: -1rem;
}

.form__label{
  display: block;
  text-align: start;
}

.form__input{
  width: 100%;
  border-radius: 0.25rem;
  /* background-color: yellow; */
}

.form__input--short{
  height: 2rem;
  padding: 0.5rem 0.25rem; 
}

.form__fields{
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: 1.5rem 0;
}

.form__field-item{
  display: flex;
  flex-flow: column nowrap;
  gap: 0.2rem;
}

.form__buttons{
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
}

.form__button{
  width: 60%;
  height: 2.5rem;
  border: none;
  border-radius: 1rem;
  color: var(--font-primary);
  font-weight: bold;
}

.form__input:focus{
  background-color: var(--light-gold);
}
/* End for Contact Me */

/* Start for Socials */
.socials__container{
  /* background: yellow; */
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.icon--large{
  display: block;
  font-size: 5rem;
  color: var(--light-blue);
}

.social__link{
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.fa-square-gitlab{
  color: rgb(202, 65, 15);
}

.fa-linkedin{
  color: rgb(34, 34, 221);
}

.fa-square-rss{
  color: rgb(129, 70, 129);
}
.icon--large:hover, .home__icon--fixed:hover{
  color: var(--hightlighted-text);
}
/* End for Socials */

/* Start for footer */
.main-footer{
  height: 80px;
  margin-top: 0.5rem;
  border-top: 1px solid var(--medium-blue);
  z-index: 10;
  /* border: 1px solid white; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}

.main-footer__links{
  /* background: yellow; */
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  gap: 5px;
  /* border-bottom: 1px solid var(--medium-blue);
  border-top: 1px solid var(--medium-blue); */
}

.main-footer__link-item{
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  /* line-height: 0.7rem; */
}

.main-footer__link-item:hover{
  background-color: var(--medium-blue);
  color: var(--hightlighted-text);
}

.main-footer__copyright s{
  font-size: 0.7rem;
  vertical-align: baseline;
  /* background-color: red; */
}

.main-footer__link-item>a:hover{
  color: var(--hightlighted-text);
}

.main-footer__copyright{
  /* display: block; */
  /* background-color: yellow; */
  width: 100%;
  text-align: center;
  /* color: red; */
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* border-top: 1px solid var(--medium-blue); */
}
/* End for footer */

/* For Fixed Position Elements */
.home__icon--fixed{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.hidden{
  position: fixed;
  left: -1000px;
}

/* different bg effects for diff sections */
.section--even{
  background-image: linear-gradient(to bottom, var(--medium-blue), var(--dark-blue));
}

.section--odd{
  background-image: linear-gradient(to bottom, var(--dark-blue), var(--medium-blue));
}

.section--odd-even{
  background-image: linear-gradient(to bottom, var(--dark-blue), var(--medium-blue), var(--dark-blue));
}

.nav__logo:hover, .nav__logo--sml-scr:hover, .nav__logo--lrg-scr:hover{
  color: var(--hightlighted-text);
}

/* MEDIA QUERIES */

/* FOR TABLET SCREENS (481px to 768px) */
@media screen and (min-width:500px) {
  .cont-for-qualifications{
    display: grid;
    grid-template-columns: 1fr 1fr;;
    align-items: flex-start;
    padding-inline: 1rem;
  }
  
  .list-item--tech-stack{
    align-items: flex-end;
  }

  .tech-stack__items{
    /* background-color: red; */
    justify-content: flex-start;
    gap: 2.5rem;
  }

  .cert-lists{
    /* background-color: yellow; */
    margin: 2rem 0;
    text-align: left;
    /* text-align: right; */
  }

  .list-item-title{
    text-align: start;
    font-size: 1.3rem;
    /* font-weight: bold; */
  }
}

/* FOR LARGE SCREENS(769px and above) */
@media screen and (min-width:769px) {
  body{
    /* border: 1px solid red; */
    min-height: 100vh;
  }

  .nav--lrg-scr{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* q for reviewer: is it better to display:none or set left or right to negative values if ang goal is hindi sya masasali sa view ng page. Thanks :) */
  .nav__links--sml-scr{
    display: none;
  }

  .nav__links--lrg-scr{
    /* border: 1px solic yellow; */
    margin: 0 20px 0 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .nav__link-item--lrg-scr{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
  }

  .nav__link--lrg-scr{
    /* border: 1px solid red; */
    color: var(--font-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .nav__link--lrg-scr:hover, .nav__link--lrg-scr:active{
    background: var(--medium-blue);
    color: var(--hightlighted-text);
    cursor: pointer;
    /* padding: 0.7rem 1.7rem; */
    /* font-size: 1.2rem; */
    transition: 0.3s;
  }

  .checkbtn{
    display: none;
  }

  /* MAIN */
  .main-left{
    position: fixed;
    width: 35vw;
  }

  .main-right{
    width: calc(100% - 35vw);
    /* border-left: 1px solid var(--medium-blue); */
    z-index: 2;
  }
  .main-right-container{
    display: flex;
    justify-content: flex-end;
  }

  .hero__main{
    border-top: none;
    /* border-right: 1px solid var(--medium-blue); */
    height: calc(100vh - 80px);
  }

  .header{
    height: 81px;
    z-index: 10;
    border-bottom: 2px solid var(--medium-blue);
  }
  
  .hero__greeting-text--small{
    font-size: 4rem;
  }
  
  .hero__greeting-text--large{
    font-size: 5rem;
  }

  .hero__sub-greeting{
    /* background: white; */
    font-size: 1rem;
  }

  .hero__content-main-text{
    font-size: larger;
  }

  .btn-link{
    max-width: 100%;
    font-size: 1rem; 
  }

  .section__header{
    font-size: 2.1rem;
  }

  .section__main-header{
    font-size: 2rem;
  }

  s{
    font-size: 1rem;
  }

  .tech-stack__item img{
    width: 60px;
    height: auto;
  }

  .section__main--tech-stack{
    /* border: 1px solid  red; */
    margin: 2rem 0;
  }

  /* Start of Credentials */

  .li__subtitle{
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1.5rem;
  }

  .list-item{
    font-size: 1.2rem;
  }
  .fa-star{
    color: gold;  
  }

  .div-for-about-me-contents{
    /* background: red; */
    display: flex;
    flex-flow: row wrap;
  }

  .section__main{
    font-size: 1.2rem;
    align-items: center;
  }
  
  .home__icon--fixed{
    position: fixed;
    font-size: 1.5rem;
    bottom: 2rem;
    right: 2rem;
  }
}

/* for page scrolling */
html {
  scroll-behavior: smooth;
}